* {
  padding: 0;
  margin: 0;
}

.formContainer {
  background: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .formWrapper {
    padding: 24px 60px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    gap: 24px;
    .formInfo {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      .logo {
        font: bold;
        color: #5d5b8d;
        font-size: 24px;
      }
      .title {
        font: 500;
        font-size: 18px;
        color: #5d5b8d;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      input {
        padding: 16px;
        width: 250px;
        outline: none;
        border: none;
        border-bottom: 1px solid #a7bcff;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      label {
        display: flex;
        align-items: center;
        color: #5d5b8d;
        cursor: pointer;
        p,
        img {
          &:hover {
            transform: scale(1.02);
          }
          &:active {
            transform: scale(0.97);
          }
        }
      }
      button {
        padding: 10px 24px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        background: #7b96ec;
        color: white;
        &:hover {
          transform: scale(1.02);
          filter: opacity(0.8);
        }
        &:focus {
          transform: scale(0.92);
        }
      }
    }
    .logInRedirect {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      color: #5d5b8d;
      font-size: 12px;
      .link {
        &:hover {
          transform: scale(1.02);
        }
        &:focus {
          color: #5d5b8d;
          transform: scale(0.92);
        }
      }
    }
  }
}

.homeContainer {
  display: flex;
  // padding: 44px 52px;
  height: 100vh;

  .sideBar {
    flex: 1;
    background: #7b96ec;
    .navBar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 24px;
      background: #5d5b8d;
      h1 {
        font-size: 18px;
        font-weight: bold;
      }
      .navInfo {
        display: flex;
        align-items: center;
        gap: 8px;
        h3 {
          font-size: 14px;
        }
        button {
          padding: 4px 8px;
          border-radius: 8px;
          border: none;
          font-size: 12px;
        }
      }
    }
    .search {
      padding: 16px 8px;
      .searchForm {
        border-bottom: 1px solid rgba(255, 255, 255, 0.337);
        margin: 0 12px;
        padding: 0 12px;
        input {
          border: none;
          width: 100%;
          outline: none;
          padding: 4px 0;
          background: transparent;
          &::placeholder {
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 16px;
      &:hover {
        background-color: #5d5b8d;
      }
    }

  }
  .chat {
    flex: 2;
  }
}
